#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.Tab {
    background-color: transparent;
    border: 1px solid #DAE2ED;
    border-right: none;
    color: #303740;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 18px;
    transition: background-color 0.4s;
    width: 100%;

    &:hover {
        background-color: #F3F6F9;
    }

    &.first {
        border-radius: 12px 0 0 12px;
    }

    &.last {
        border-radius: 0 12px 12px 0;
        border-right: 1px solid #DAE2ED;
    }

    &.base--selected {
        color: #E64A19;
        background-color: #FBE9E7;
        border: 1px solid #E64A19;
    }

    &.base--selected:hover {
        background-color: #FFCCBC;
    }
}

.TabsList {
    align-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(218, 226, 237, 0.6) 0 4px 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    min-width: 400px;
}